{% extends 'archivopetsite/base_content.html' %}

{% block content %}
    {% if validlink %}
    <h3>Cambio de contraseña</h3>
        <p>Por favor ingrese y confirme su nueva contraseña.</p>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Modificar contraseña</button>
        </form>
    {% else %}
        <p>El link de recuperación de contaseña es inválido, posiblemente porque ya fue usado. Por favor, solicite un nuevo cambio de contaseña.</p>
    {% endif %}
{% endblock %}
