{% load static %}

<html>
    <head>
        <title>Archivo PET</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/archivopetsite.css' %}">

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


        <!-- XDSoft DateTimePicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

        <!-- Custom styles for this template -->
        <link href="{% static 'css/carousel.css' %}" rel="stylesheet">

        <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>

    </head>
    <body>
      <header>
        {% with url_name=request.resolver_match.url_name %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Archivo PET</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if url_name == 'buscar_mascota' %} active {% endif %}">
            <a class="btn btn-success my-2 my-sm-0" href="/buscar_mascota">Encontré una mascota </a>
          </li>
          <li class="nav-item {% if url_name == 'index' %} active {% endif %}">
            <a class="nav-link" href="/">Inicio </a>
          </li>
      <!--    <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
          {% if user.is_authenticated %}
            <li class="nav-item dropdown {% if url_name == 'mascota_new' %} active {% endif %}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mascotas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'mascota_new' %}">Agregar</a>
                <a class="dropdown-item" href="{% url 'mascota_list' %}">Lista</a>
              </div>
            </li>
            <li class="nav-item {% if url_name == 'preguntasfrecuentes' %} active {% endif %}">
              <a class="nav-link" href="/preguntasfrecuentes">Preguntas Frecuentes</a>
            </li>
            <li class="nav-item {% if url_name == 'email' %} active {% endif %}">
              <a class="nav-link" href="/contacto">Contacto</a>
            </li>

            {% else %}
            <li class="nav-item {% if url_name == 'preguntasfrecuentes' %} active {% endif %}">
              <a class="nav-link" href="/preguntasfrecuentes">Preguntas Frecuentes</a>
            </li>
            <li class="nav-item {% if url_name == 'email' %} active {% endif %}">
              <a class="nav-link" href="/contacto">Contacto</a>
            </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav">
        {% if user.is_authenticated %}

          <li class="nav-item active">
            <a class="nav-link" href="/modificarperfil">Usuario: {{ user.get_username }} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'modificarperfil' %} active {% endif %}" href="/modificarperfil">Modificar Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item {% if url_name == 'signup' %} active {% endif %}">
            <a class="nav-link" href="/signup">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
          </li>
          {% endif %}
          </ul>
      </div>
    </nav>
    {% endwith %}
    </header>



  <div class="content container">
      <div class="row">
          <div class="col-md-8">
          {% include 'archivopetsite/messages.html' %}
          {% block content %}
          {% endblock %}
          </div>
      </div>
  </div>

<hr class="featurette-divider">
  <!-- FOOTER -->
       <footer class="container">
         <p class="float-right"><a href="#">Volver arriba</a></p>
         <p>&copy; 2019 Archivo PET. &middot; <a href="#">Privacidad</a> &middot; <a href="#">Términos</a></p>
       </footer>
     </main>

   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <!-- jQuery -->

   <!--<script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"><\/script>')</script>-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
   <script>bootstrapValidate('#codigoPlaca', 'alphanum:Por favor, ingrese solo números y letras!')</script>
   <script>bootstrapValidate('#id_identificacion_set-0-identificacion_codigo', 'alphanum:Por favor, ingrese solo números y letras!')</script>
   <script>bootstrapValidate('#id_identificacion_set-1-identificacion_codigo', 'alphanum:Por favor, ingrese solo números y letras!')</script>
    </body>
</html>
