{% extends 'archivopetsite/base.html' %}

{% block content %}
    <div class="mascota">
        {% if mascota.fecha_nacimiento %}
            <div class="date">
                {{ mascota.fecha_nacimiento }}
            </div>
        {% endif %}
          {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'mascota_edit' pk=mascota.pk %}"><span class="fas fa-edit"></span></a>
          {% endif %}
        <h2>{{ mascota.mascota_nombre }}</h2>
        <p><strong>Tipo:</strong> {{ mascota.mascota_tipo|linebreaksbr }}</p>
        <p><strong>Raza:</strong> {{ mascota.mascota_raza|linebreaksbr }}</p>
        <p><strong>Sexo:</strong> {{ mascota.get_mascota_sexo_display|linebreaksbr }}</p>
        
    </div>
{% endblock %}
