{% extends 'archivopetsite/base_content.html' %}

{% block content %}





    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for mascota in mascotas %}
    <tr>
      <td>{{ mascota.mascota_nombre }}</td>
      <td><a href="{% url 'mascota_detail' pk=mascota.pk %}" class="badge badge-secondary">Ver</a></td>
    </tr>
    {% empty %}
    <h3>Disculpa, no hay mascotas en esta lista.</h3>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
