{% extends 'archivopetsite/base_content.html' %}

{% block content %}

<h2>Preguntas frecuentes</h2>

</br>

<h5>¿Cómo registro a mi mascota?</h5>

<p>Concurra a su veterinario de confianza, el cual deberá estar subscripto a ARCHIVO PET, él pedirá
completar un formulario y firmar al final del formulario. Luego se carga en la pagina de ARCHIVO PET y le
entregará una placa identificatoria para colocar en el collar y si usted lo desea para podrá solicitar la
aplicación del microchip haciendo completo su vínculo con su mascota.</p>

<h5>¿Qué pasa si mi veterinario de confianza no está suscripto ARCHIVO PET?</h5>
<p>Si su veterinario de confianza no esta adherido a ARCHIVO PET:</p>
<p>A)-Usted puede facilitarnos los datos de contacto a nuestro mail para que nosotros nos pongamos en
contacto con el y llevemos a cabo el proceso de suscripción siempre que sea su voluntad.
<p>B)- Usted puede consultar en pagina ARCHIVO PET, la veterinaria mas cercana a su domicilio.</p>
<p>C)- Y si no hay veterinarias cercanas a su hogar nosotros lo registraremos y le enviaremos la placa. Sepa
que este registro será temporal ya que nuestra misión es que la tenencia responsable de mascotas se
lleve a cabo y esto se complementa con la asistencia de los profesionales capacitados para ello.</p>

<h5>¿Qué es la placa identificatoria?</h5>
<p>Es una chapa de metal con la página de ARCHIVO PET y un código alfanumerico imborrable</p>

<h5>¿Cuántas mascotas puedo registrar?</h5>
<p>Usted puede registrar todas las mascotas que necesite.</p>

<h5>¿Qué tipo de mascotas puedo registrar?</h5>
<p>Usted puede registrar todo tipo de mascota, tenga presente que para que sea eficaz deberá por lo menos
utilizar uno o dos elementos de registro, la chapa o el microchip.</p>
</br>
<h3>MICROCHIP</h3>
 
<h5>¿Qué es el MICROCHIP?</h5>
<p>Se trata de un pequeño circuito electrónico integrado en una cápsula de vidrio biocompatible, que se
coloca bajo la piel del animal.</p>
<p>El chip tiene el grosor de un grano de arroz y su longitud no supera el centímetro y medio. No utiliza pilas
ni partes móviles, por lo que su duración es ilimitada. Sirve para toda la vida del animal.</p>
<p>El microchip lleva grabado un código único, inalterable e irrepetible que identifica permanentemente a la
mascota.</p>
 
<h5>¿Para qué sirve el MICROCHIP?</h5>
<p>Es un pequeño dispositivo electrónico de identificación de animales que consiste en una cápsula
biocompatible que puede ser implantado bajo la piel del animal que permite asignar un número único de
identificación, al cual se ingresan todos los datos necesarios para la identificación de la mascota y de su
propietario.</p>
<p>De este modo si un perro se extravía o es robado, las autoridades podrán saber quién es la persona
responsable del animal y ponerse en contacto con ellos.</p>
 
<h5>¿Cómo se implanta el MICROCHIP?</h5>
<p>El dispositivo se introduce bajo la piel mediante una simple inyección con una aguja especial. El émbolo
dispone de una cuña para empujar la cápsula. Siempre se inyecta en la misma zona del cuerpo, en la
parte izquierda del cuello, para facilitar su localización en el momento de la lectura.</p>
<p>El implante se lleva a cabo sin necesidad de anestesia y sin causar ninguna molestia al animal.</p>
<p>Cada microchip tiene un código único que, una vez inyectado, quedará asignado al perro.</p>
<p>Tras implantarlo el veterinario completa una ficha en la que se incluyen los datos del propietario, y del
animal junto con el código asignado.</p>
 
<h5>¿Cómo se lee el MICROCHIP?</h5>
<p>Mediante un lector de radiofrecuencia. Al acercarlo al animal, el lector emite una señal que proporciona la
energía necesaria al microchip para que éste devuelva el código que lleva grabado.</p>
<p>El lector recibe la señal y muestra el número de código en la pantalla. Al introducirlo en el ordenador
aparecerán los datos del propietario.</p>
<p>Si el animal cambia de dueño, o si varía algún dato relevante la información se modifica en los archivos,
sin necesidad de extraer el microchip.</p>


{% endblock %}
